$alto-video:1200px;
$color-fondo:violeta;

*{
	margin:0;
	padding:0;  
}
html{
	font-size:62.5%; 
}
body{
	background-color:#000000;
	background-image: linear-gradient( to top, purple, black);

}
.header__titulo{
	overflow:hidden;
		h1{
		font-size: 60px;
		text-align:center;
		color:yellow;  
		font-family: 'Roboto Mono', monospace;
		transform: skewX(20deg);
		background-image: linear-gradient( to top, purple, black);
		}
	
}

#cuerpo1{
	background-image: url("../img/body1.jpg");
}
#cuerpo2{
	background-image:url("../img/body2.jpg"); 
}

#contenedor{
	@if $color-fondo == violeta{
		background-color:#F6E3CE;
	}@else{
		background-color:orange;
	}
}
.menu li a{
	font-family:calibry; 
	font-size:150%;  
}
.menu li a:hover{
	display:block;
	background-color:blue;
}	




 #columnas {
	font-size:200%;
	display:flex; 
	margin-top:80px;

}	

#columnas .body__columnas__textodescriptivo b{
	color: red;
	text-align:center;
	font-size:150%;  
}




#columnas .body__columnas__textodescriptivo p{
	text-align:center;
	color:yellow;
	font-size: 120%;
	text-transform:capitalize;
	font-family: 'Dancing Script', cursive;
	border-top:groove 5px red;
	border-left:groove 5px red; 
	border-right:groove 5px red;
	border-bottom: groove 5px red;
	
	margin-top:10px; 
	flex-direction:row; 
	
	width:100%; 
	 
}


	
.body__videomoto{
	display:flex;
	justify-content:center;	  
	iframe{
	width:75%;
	height:$alto-video/2;
	}
}		

	



.foto_casco{
	width:80%;
	float: right;
	transform: skewY(10deg);

}
.video_casco iframe{
	width:90%;
	height:$alto-video/2;
}

.columnas2{
	display:grid;
	justify-content:space-around;
	grid-template-columns:50% 50%;

}

.tabla1{
	margin-bottom:100px;
	margin-top:100px;
	color:orange;
	font-size:150%; 

}


.tabla2{
	text-align:center; 
	border-top:groove 5px red;
	border-left:groove 5px red; 
	border-right:groove 5px red;
	border-bottom: groove 5px red;
}	
.formulario{
	text-align: center;
}



legend{
	@extend .nombre; 
}
.nombre{
	color:#bbbbbb;
	font-size:150%;
}

#footer__imagen{
	width:100%;

	
}


